PORT=8000
JWT_SECRET=''
JWT_EXPIRES_IN='10d'
NODE_ENV='development'
MONGO_URL='mongodb://localhost:27017/ui-studio'

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=465
EMAIL_USER=""
EMAIL_PASSKEY=""

CLOUDINARY_API_SECRET=""
CLOUDINARY_API_KEY=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_URL=""


SMS_API_KEY= # Your actual SMS API key
SMS_ENTITY_ID=""
SMS_TEMPLATE_ID=""
SMS_SENDER_ID=""


CASHFREE_APP_ID=
CASHFREE_CLIENT_ID=
CASHFREE_SECRET_ID=
CASHFREE_ENVIRONMENT=SANDBOX # Change to PRODUCTION in production environment
CASHFREE_API_URL=https://sandbox.cashfree.com/pg
PAYMENT_RETURN_URL=https://ui-studio.com/payment/return
PAYMENT_NOTIFY_URL=https://ui-studio.com/api/webhooks/cashfree


FIREBASE_PROJECT_ID=""
FIREBASE_PRIVATE_KEY_ID=""
FIREBASE_PRIVATE_KEY=  ""
FIREBASE_CLIENT_ID=""

SOCKET_PATH="/socket.io"

DEFAULT_ADMIN_EMAIL=admin@gmail.com
DEFAULT_ADMIN_PASSWORD=Admin@1234
DEFAULT_ADMIN_NAME=AdminUser